.room-code {
  color:  #f9f7f5;
  text-align: center;
  padding: 5px 0px;
  margin: 0px;
}

.big-container {
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin-top: 40px; 
    height: 80vh
  }

.code-placeholder {
      width:150px;
      border: 1px solid #f9f7f5;
      border-radius: 10px;
      padding: 0px;
}

.code-placeholder-text {
  width:150px;

  border-radius: 10px;
  padding: 0px;
  margin-bottom: 15px;
}

.small-container {
    height: 20vh;
}

.room-code-box {
    border-radius: 12px solid #f9f7f5;
    display:flex;
    justify-content: center;
    align-items: center;
  }

.room-code-box:after {
  border-radius: 12px solid #f9f7f5;
}

.text-to-enter {
  text-align: center;
}

.enter-world {
  margin-top: 10px;
  display: flex; 
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
}

.arrow-down-container {
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
}

.arrow {
    height: 30px;
    margin-top: 50px;
}

@keyframes bounce {
  50% {
      transform: translateY(-15px);
    }
  }
  
