.room-code-input {
  background: none; 
  border: none;
  border-bottom: 1px solid #f9f7f5;
  color: #f9f7f5;
  width: 140px;
}

.join-room-container {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}