.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.label-text {
    /* display:flex;
    justify-content: center;
    align-items: center; */
}

.input-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.input-box {
    margin-bottom: 15px;
    width: 150px
}


@media (min-width: 768px) { /* 1300 */


    .buttons-text {
        font-size: 18px;
    }

    .room-code-input {
        font-size: 18px;
    }

    .label-text {
        font-size: 18px;
    }
    
}