.sound-input-container {
  display: flex;
  justify-content: center;
}

.name-input-section{
  margin-bottom: 20px;
}

.description {
  width: calc(100% - 10%);
  height: 60px;
  padding: 10px;
  margin: 10px auto 5px;
  resize: none;
  background-color: #f9f7f5;
}

.sound-input {
  background: none; 
  border: none;
  border-bottom: 1px solid #f9f7f5;
  color: #f9f7f5;
  width: 140px;
}

.file-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #191919;
}

.card-container {
  width: 90%;
  border-radius: 6px;
  background: #f9f7f5;
  margin-bottom: 20px;
}

.card-content {
  padding: 20px;
}

.card-title {
  margin: 0 0 10px 0;
  word-break: break-word;
}

.card-children {
  margin: 0 0 10px 0;
  word-break: break-word;
}

.delete-button-container {
  margin: 0 auto;
  color: #f9f7f5;
  border: 2px solid #f9f7f5;
  border-radius: 10px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  width: 150px;
  padding: 10px 0px;
}

.logout-button {
  display: flex; 
  justify-content: center;
  align-items: center;
}

/*  */
.sound-delete-container {
  width: 100%;
  flex-wrap: wrap;
}

.sound-delete-container p {
  flex-wrap: wrap;
}

.delete-button {
  background-color: #191919;
  color: #f9f7f5;
  border: 2px solid #f9f7f5;
  border-radius: 10px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  width: 150px;
  padding: 10px 0px
}

/* Tablet */
@media (min-width: 600px) {
  .card-container {
    width: 50%; 
  }

}

/* Small Desktop */
@media (min-width: 992px) {
  .card-container {
    width: 35%;
  }
}